<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.tbrown.ilovemarshmallow" >

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchResultsActivity" />
        </activity>

        <!-- SEARCH RESULTS ACTIVITY -->
        <activity
            android:name=".activities.SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" /> <!-- search config file -->
        </activity>
        <activity
            android:name=".activities.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
    </application>

</manifest>
